@model IEnumerable<EPaczucha.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { userId=item.Id }) |
                @Html.ActionLink("Details", "Index", new { userId=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { userId=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
