@model EPaczuchaWeb.Models.PackageViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detale</h1>

<div>
    <h4>Dane o wysłanej paczce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SimpleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SimpleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
     </dl>
     <hr />
        <div>
            Adres dostawy:
        </div>
        <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationBuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationBuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationApartmentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationApartmentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationZipCode)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
        </dd>
    </dl>
    <hr />
        <div>
            Paczka:
        </div>
        <br />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageType.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageType.Height) cm
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageType.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageType.Width) cm
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendMethod.MethodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendMethod.MethodName)
        </dd>
        <dt class = "col-sm-2">
            Cena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagePrice.Gross) zł
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-id="@ViewData["customerId"]">Wróc do listy paczek</a>
</div>