@model IEnumerable<EPaczuchaWeb.Models.PackageViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista twoich Paczek</h1>

<p>
    <a asp-action="Add">Nadaj nową paczkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Twoja nazwa paczki
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SimpleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Detale", "Details", new { id=item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
