@model IEnumerable<EPaczuchaWeb.Models.PackageViewModel>

@{
    ViewData["Title"] = "Lista twoich paczek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista twoich Paczek</h1>

<p>
    <a asp-action="Add" asp-route-id="@ViewBag.CustomerId">Nadaj nową paczkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Twoja nazwa paczki
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SimpleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id=item.Id, customerId = ViewBag.CustomerId }) |
                @Html.ActionLink("Usuń", "Delete", new { id=item.Id, customerId = ViewBag.CustomerId })
            </td>
        </tr>
}
    </tbody>
</table>
@if (User.IsInRole("admin") || User.IsInRole("mod"))
{
    <div>
        <a asp-controller="Customer" asp-action="Index">Wróć do listy użytkowników</a>
    </div>
}